.cardwrapper {
  margin: 0 auto;
  width: 1366px;
  overflow: hidden;
  display: flex;
  height: 100%;
}

.carditem {
  max-width: 280px;
  min-width: 260px !important;
  height: 400px;
  display: flex;
  flex-direction: column;
  background-color: #ffffff;
  border-radius: 5px;
  overflow: hidden;
  transition: transform 0.3s ease-in-out;
  &:hover {
    transform: scale3d(1.02, 1.02, 1.02);
    box-shadow: 0 0 15px -5px #dbdbdb;
  }
}
.cardtopsection {
  background-image: linear-gradient(#ffffff, #ffffff 50%),
    url("../illustrations/started.png");
  background-size: cover;
  background-position: center top;
  background-repeat: no-repeat;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  padding: 1rem 1.6rem;
  position: relative;
  &::before {
    position: absolute;
    background-color: #651efeab;
    content: "";
    height: 100%;
    width: 100%;
    top: 0;
    left: 0;
    z-index: -1;
  }
}

.cardlogo {
  position: absolute;
  top: 0;
  right: 0;
  width: 30px;
  height: 30px;
  margin: 0.5rem 0.5rem 0 0;
}

.cardbottomsection {
  height: 50%;
  position: relative;
}
.cardcoursetitle {
  font-size: 1.4rem;
  font-weight: 600;
  color: #e5ab32;
  display: flex;
  align-items: center;
  mark {
    margin-left: 0.5rem;
    padding: 0 0.5rem;
    border-radius: 20px;
  }
}

.cardcoursesubtitle {
  font-size: 1.2rem;
  font-weight: 300;
  color: #326ce5;
}

.courseButton {
  display: inline-block;
  left: 0;
  bottom: 0;
  padding: 0.2rem 0;
  margin: 2rem 0 2rem;
  color: #326ce5;
  cursor: pointer;
  position: absolute;
  letter-spacing: 1px;
  overflow: hidden;
  font-weight: 600;
  border-bottom: 2px solid;
  &:hover {
    color: #326ce5b5;
  }
}
